.Home
{   
    text-align: center;
    width: 400px;
    padding: 30px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: rgb(15, 15, 15);
    box-shadow: 7px 13px 37px #000;
}

.Registrarse
{
    text-align: center;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "Time New Roman";
    color: rgb(12, 11, 11);
    box-shadow: 7px 13px 37px #000;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(../images/LOGO-ULEAM-1.png);   
}

